@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body, a, p, li, h1, h2, h3, h4, h5, h6 {
  font-family: 'Raelway', sans-serif;
}

.page-body {
  font-weight: 400;
  font-size: 14px;
  color: #1a1a1a;
  line-height: 20px;
}

.profile-bkg-hero {
  height: 460px;
  background-position: 50% 50%;
}

@-webkit-keyframes op {
  from {
    opacity: .85
  }
  to {
    opacity: 0
  }
}

@keyframes op {
  from {
    opacity: .85
  }
  to {
    opacity: 0
  }
}

@-webkit-keyframes tr {
  from {
    transform: scaleX(1) scaleY(1)
  }
  to {
    transform: scaleX(2.5) scaleY(2.5)
  }
}

@keyframes tr {
  from {
    transform: scaleX(1) scaleY(1)
  }
  to {
    transform: scaleX(2.5) scaleY(2.5)
  }
}

.middle-style {
  width: 42px;
  height: 42px;
  animation: op 2s ease infinite, tr 2s ease-out infinite;
}

.resp-div-profile {
  width: 49%;
}

@media (max-width: 991px) {
  .resp-div-profile {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .profile-bkg-hero {
    height: 125px;
  }
}